#search-menu-search-form input.search_menu_button {
  background: #fff url(images/search-button.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-radius: 15px;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  text-align: center;
  text-indent: -9999px;
}
#search-menu-search-form--2 input.search_menu_button {
  background: #fff url(images/search-button.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-radius: 15px;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  text-align: center;
  text-indent: -9999px;
}
#block-search-menu-form div.form-type-textfield {
  display: inline;
}
#search_menu_box {
  position: relative;
}
#search_menu_box .search-menu-close-btn {
  float: right;
  position: absolute;
  right: 5px;
  top: 2px;
}
#search_form_contents div.form-type-textfield {
  display: inline;
  float: left;
  width: 85%;
}
#search_form_contents div.form-type-textfield input[type="text"] {
  width: 95%;
}
#search-menu-search-form #autocomplete ul li {
  padding: 0 0 0 5px;
}
#search-menu-search-form #autocomplete {
  min-width: 130px;
  overflow: visible !important;
  width: auto !important;
}
.ac_odd {
  background-color: #eeeeee;
}
.ac_even {
  background-color: #ffffff;
}
